@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: linear-gradient(to bottom, #1d003b, #1e1e1e, #1e1e1e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 1rem;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 69rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.after-connect {
  background-color: black;
}
.express-yourself {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.morpheus {
  /* padding: 1.2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.morpheus img {
  /* padding: 1.2rem; */
  width: "60%";
}
.change-the-world {
  padding: 1.2rem;
  background-color: #7098e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  color: #fff;
  height: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #020406;
}

/* create a div with two columns centered */
.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.columns .connect-button {
  margin: 0.5rem;
}

.dapp-button {
  margin: 0.5rem;

}


.dapp-button {
  background: #020202;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  /* padding-right: "12px"; */
  padding: 20px;
  border: 10px solid rgb(0, 255, 238);
  /* padding: 0.3rem 0.5rem; */
  border-radius: 0.8rem;
  /* margin-left: 2rem; */
  /* margin-right: 8rem; */
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  margin-left: 42%;
}
a {
  text-decoration: inherit;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  /* padding-left: 2%; */
  margin-left: 0;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  
}

.navbar .logo a:hover {
  padding: "";
  color: black;
  background-color: pink;
}

.connect-button {
  background: #020202;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid black;
  border: 10px solid rgb(0, 255, 238);

  /* padding: 0.3rem 0.5rem; */
  border-radius: 0.8rem;
  cursor: pointer;
  width: 12rem;
  height: 5.2rem;
}

.read-guide-button {
  background: #020202;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 2rem;
  border: 1px solid black;
  border: 10px solid rgb(0, 0, 0);

  /* padding: 0.3rem 0.5rem; */
  border-radius: 0.8rem;
  cursor: pointer;
  width: 12rem;
  height: 5.2rem;
}

.watch-demo-button {
  background: #020202;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid black;
  border: 10px solid rgb(255, 23, 23);

  /* padding: 0.3rem 0.5rem; */
  border-radius: 0.8rem;
  cursor: pointer;
  width: 12rem;
  height: 5.2rem;
}
.enter-dapp-button {
  background: #e90270;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid black;
  /* padding: 0.3rem 0.5rem; */
  border-radius: 0.8rem;
  cursor: pointer;
  width: 12rem;
  height: 3.6rem;
}




.connect-button:active {
  background: #d00057;
  color: #fdfdfd;
}

.navbar label {
  background: #020406;
  font-size: 1.1rem;
  color: white;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
  margin: 0.2rem;
}

.account-button {
  background: #202428;
  font-size: 1.1rem;
  font: inherit;
  color: white;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
  margin: 0.2rem;
  cursor: pointer;
}

.account-button:active {
  background: #303438;
  color: #fdfdfd;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 0 2rem;
  text-align: center;
  width: 80%;
}

.checkbox {
  display: flex;
  /* flex: 1; */
  flex-direction: horizontal;
  align-items: center;
}

textarea {
  font-size: 1.2rem;
  width: 100%;
  min-height: 420px;
  background: #cdc74f;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202428;
  color: #fff;
  border-radius: 0.8rem;
  margin: 1.25rem 0.7rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 1.2rem 2rem;
}
.expressions {
  background-color: #f1f1f1;
  padding: 1.2rem;
  margin-bottom: 0.5rem;
}
.expressions h2 {
  line-height: 1.2rem;
  margin-top: 0.6rem;
  text-align: center;
}

.expressions p {
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  text-align: center;
}
.last-expression-card p {
  height: auto;
  overflow-y: auto;
  font-size: 1.2rem;
}
.last-expression-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202428;
  color: #fff;
  border-radius: 0.8rem;
  margin: 1.25rem 0.7rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 1.2rem 2rem;
}

.new-expression-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202428;
  color: #fff;
  border-radius: 0.8rem;
  margin: 1.25rem 0.7rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 1.2rem 2rem;
}

.new-expression-card textarea {
  font-size: 1.4rem;
}

.new-expression-card button {
  background: #2073e5;
  color: white;
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  /* margin: 1rem; */
  /* width: 60%; */
  margin-bottom: 1rem;
  margin-top: 12px;
}

/* divide a div in two  */
.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

/* create a div with horizontal direction */

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.blockbg-black {
  width: "200px";
  background-color: #202428;
}

/* create a row with two columns */
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.last-expression-card button {
  background: #80e840;
  color: black;
  font: inherit;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  /* margin: 1rem; */
  /* width: 60%; */
  margin-bottom: 1rem;
}

.card button:active {
  background: #0e61d3;
  color: #fdfdfd;
}

.new-expression-card form {
  width: 100%;
}

.card input:hover,
.card input:focus {
  outline: 2px solid #383c44;
}

.card label {
  background: #282c34;
  width: 100%;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  color: #f1f1f1;
  padding: 0.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.new-expression-card input {
  background: #282c34;
  border: hidden;
  width: 100%;
  border-radius: 0.8rem;
  font-size: 2rem;
  color: #f1f1f1;
  padding: 0.4rem 0.5rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: flex-end;
  padding-bottom: 0.07rem;
  /* font-size: 0.7rem; */
  color: #d4d4d4;
}

footer .container {
  display: flex;
  direction: horizontal;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.7rem;
  background-color: transparent;
}

.expressions-container .container {
  display: flex;
  direction: horizontal;
  justify-content: center;
  padding-bottom: 0.7rem;
  background-color: transparent;
}

.question-section {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 62vw;
  align-content: center;
  padding-left: 10%;
  margin-left: 16%;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 60px;
  text-align: center;
}
.question-style h2 {
  text-align: center;
}
.faq-accordeon {

  margin-top: 20px;
}

.question-align h4 {
  margin-left: 8px;
}

.question-align .question-style{
  text-align: center;
}
.question-styling {
  font-size: 32px;
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color: #1b6aae;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answer-divider {
  border-top: 1px solid lightgray;
}
.question-align question-style {
  text-align: center;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}

.Collapsible__trigger {
  background: #202428;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid black;
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
  cursor: pointer;
  /* position: absolute; */
}

footer a {
  color: #f4ebf0;
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: 1.2rem;
  margin-left: 0.4rem;
  padding-top: 0.2rem;
  /* padding-bottom: 0.5rem; */
  padding-left: 0.2rem;

  /* add hover */
}
a:hover {
  background-color: yellow;
  color: #1d003b;
}

.metamask-link {
  text-decoration: none;
}

.metamask-link:hover {
  /* background-color: rgb(214, 169, 44); */
  background-color: #f6851b;
  color: #1d003b;
}

.contract-at-rinkeby:hover {
  background-color: rgb(128, 134, 130);
  color: #1d003b;
}

.contract-at-goerli:hover {
  background-color: rgb(240, 117, 189);
  color: #1d003b;

}
.source-code:hover {
  background-color: rgb(112, 226, 152);
  color: #1d003b;
}
.license-link:hover {
  background-color: rgb(103, 176, 245);
  /* color: #1d003b; */
}

.get-fake-eth:hover {
  background-color: rgb(239, 185, 84);
  color: #1d003b;
}

.faucet-rinkeby:hover {
  background-color: rgb(128, 134, 130);
  color: #1d003b;
}

.faucet-goerli:hover {
  background-color: rgb(240, 117, 189);
  color: #1d003b;
}

.last-expression-card button:hover {
  font-size: larger;
}

@media only screen and (max-width: 480px) {
  .dapp-button {
    background: #020202;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    /* padding-right: "12px"; */
    padding: 20px;
    border: 10px solid rgb(0, 255, 238);
    /* padding: 0.3rem 0.5rem; */
    border-radius: 0.8rem;
    /* margin-left: 2rem; */
    /* margin-right: 8rem; */
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    align-content: center;
  }
}


@media only screen and (max-width: 960px) {


  .account-button {
    display: none;
  }
  
  .account-button:active {
    display: none;

  }

  
  footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.7rem;
    background-color: transparent;
    font-size: 0.6rem;

  }

 
  .new-expression-card button {
    width: 40%;
  }
  .last-expression-card button {
    width: 40%;
  }

  /* create div with background image */
  .envelope {
    background-image: url("../public/envelope.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .last-expression-card p {
    text-align: start;
    height: 12rem;
    overflow-y: auto;
    font-size: 1.2rem;
  }

  .new-expression-card {
    width: 100%;
  }
  textarea {
    font-size: 1.2rem;
    width: 100%;
    min-height: 320px;
    background: #cdc74f;
  }
}

@media only screen and (min-width: 961px) {
  .new-expression-card button {
    width: 20%;
    margin-top: 30px;
  }
  .last-expression-card button {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .last-expression-card p {
    text-align: start;
    height: 14rem;
    overflow-y: auto;
    font-size: 1.2rem;
  }

  .cards {
    width: 60%;
  }
}
